


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_graphql" WITH SCHEMA "graphql";






CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";






CREATE TYPE "public"."tipo_servico" AS ENUM (
    'ERPI',
    'CENTRO_DIA',
    'SAD',
    'CRECHE'
);


ALTER TYPE "public"."tipo_servico" OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."contactos_emergencia" (
    "id" integer NOT NULL,
    "pessoa_id" integer,
    "nome" "text" NOT NULL,
    "telefone" character varying(30) NOT NULL,
    "email" "text",
    "parentesco" "text" NOT NULL
);


ALTER TABLE "public"."contactos_emergencia" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."contactos_emergencia_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."contactos_emergencia_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."contactos_emergencia_id_seq" OWNED BY "public"."contactos_emergencia"."id";



CREATE TABLE IF NOT EXISTS "public"."contactos_institucionais" (
    "id" integer NOT NULL,
    "tipo" character varying(50),
    "valor" character varying(200),
    "descricao" character varying(200),
    "ativo" boolean DEFAULT true,
    "ordem" integer DEFAULT 0,
    "atualizado_por" integer,
    "data_atualizacao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE "public"."contactos_institucionais" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."contactos_institucionais_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."contactos_institucionais_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."contactos_institucionais_id_seq" OWNED BY "public"."contactos_institucionais"."id";



CREATE TABLE IF NOT EXISTS "public"."conteudo_institucional" (
    "id" integer NOT NULL,
    "titulo" character varying(200),
    "subtitulo" character varying(300),
    "conteudo" "text",
    "imagem" character varying(500),
    "video_url" character varying(500),
    "ordem" integer DEFAULT 0,
    "ativo" boolean DEFAULT true,
    "atualizado_por" integer,
    "data_atualizacao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "criado_por" integer,
    "data_criacao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "secao" character varying(255),
    "destaques" "text"
);


ALTER TABLE "public"."conteudo_institucional" OWNER TO "postgres";


COMMENT ON COLUMN "public"."conteudo_institucional"."destaques" IS 'Array JSON com at├® 3 subt├¡tulos, cada um com titulo e texto. Formato: [{"titulo": "...", "texto": "..."}, ...]';



CREATE SEQUENCE IF NOT EXISTS "public"."conteudo_institucional_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."conteudo_institucional_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."conteudo_institucional_id_seq" OWNED BY "public"."conteudo_institucional"."id";



CREATE TABLE IF NOT EXISTS "public"."cpsl_intro" (
    "id" integer DEFAULT 1 NOT NULL,
    "titulo" character varying(300),
    "subtitulo" character varying(500),
    "imagem_fundo" character varying(500),
    "atualizado_em" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "cpsl_intro_id_check" CHECK (("id" = 1))
);


ALTER TABLE "public"."cpsl_intro" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."detalhes_creche" (
    "inscricao_id" integer NOT NULL,
    "crianca_nasceu" boolean NOT NULL,
    "data_prevista" "date",
    "irmaos_frequentam" boolean,
    "necessita_apoio" boolean,
    "apoio_especificacao" "text",
    "mae_nome" "text",
    "mae_profissao" "text",
    "mae_local_emprego" "text",
    "mae_morada" "text",
    "mae_codigo_postal" character varying(20),
    "mae_localidade" "text",
    "mae_telemovel" character varying(30),
    "mae_email" "text",
    "pai_nome" "text",
    "pai_profissao" "text",
    "pai_local_emprego" "text",
    "pai_morada" "text",
    "pai_codigo_postal" character varying(20),
    "pai_localidade" "text",
    "pai_telemovel" character varying(30),
    "pai_email" "text"
);


ALTER TABLE "public"."detalhes_creche" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."detalhes_sad" (
    "inscricao_id" integer NOT NULL,
    "higiene_pessoal" boolean DEFAULT false,
    "periodicidade_higiene_pessoal" character varying(30),
    "vezes_higiene_pessoal" integer,
    "higiene_habitacional" boolean DEFAULT false,
    "periodicidade_higiene_habitacional" character varying(30),
    "vezes_higiene_habitacional" integer,
    "refeicoes" boolean DEFAULT false,
    "periodicidade_refeicoes" character varying(30),
    "vezes_refeicoes" integer,
    "tratamento_roupa" boolean DEFAULT false,
    "periodicidade_tratamento_roupa" character varying(30),
    "vezes_tratamento_roupa" integer,
    CONSTRAINT "detalhes_sad_vezes_higiene_habitacional_check" CHECK ((("vezes_higiene_habitacional" >= 1) AND ("vezes_higiene_habitacional" <= 5))),
    CONSTRAINT "detalhes_sad_vezes_higiene_pessoal_check" CHECK ((("vezes_higiene_pessoal" >= 1) AND ("vezes_higiene_pessoal" <= 5))),
    CONSTRAINT "detalhes_sad_vezes_refeicoes_check" CHECK ((("vezes_refeicoes" >= 1) AND ("vezes_refeicoes" <= 5))),
    CONSTRAINT "detalhes_sad_vezes_tratamento_roupa_check" CHECK ((("vezes_tratamento_roupa" >= 1) AND ("vezes_tratamento_roupa" <= 5)))
);


ALTER TABLE "public"."detalhes_sad" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."form_contacto" (
    "id" integer NOT NULL,
    "nome" character varying(100) NOT NULL,
    "email" character varying(100) NOT NULL,
    "assunto" character varying(200),
    "mensagem" "text" NOT NULL,
    "respondido" boolean DEFAULT false,
    "resposta" "text",
    "respondido_por" integer,
    "data_resposta" timestamp without time zone,
    "data_submissao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE "public"."form_contacto" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."form_contacto_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."form_contacto_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."form_contacto_id_seq" OWNED BY "public"."form_contacto"."id";



CREATE TABLE IF NOT EXISTS "public"."inscricoes" (
    "id" integer NOT NULL,
    "pessoa_id" integer,
    "servico" "public"."tipo_servico" NOT NULL,
    "observacoes" "text",
    "origem_submissao" "text",
    "secao_personalizada_id" integer,
    "formulario_escolhido" "text",
    "creche_opcao" "text",
    "creche_item_id" integer,
    "lido" boolean DEFAULT false,
    "lido_em" timestamp with time zone,
    "data_inscricao" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."inscricoes" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."inscricoes_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."inscricoes_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."inscricoes_id_seq" OWNED BY "public"."inscricoes"."id";



CREATE TABLE IF NOT EXISTS "public"."itens_secoes_personalizadas" (
    "id" integer NOT NULL,
    "secao_id" integer NOT NULL,
    "titulo" character varying(300),
    "subtitulo" character varying(500),
    "conteudo" "text",
    "imagem" character varying(500),
    "video_url" character varying(500),
    "link_externo" character varying(500),
    "ordem" integer DEFAULT 0,
    "ativo" boolean DEFAULT true,
    "criado_por" integer,
    "data_criacao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "data_atualizacao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "destaques" "text"
);


ALTER TABLE "public"."itens_secoes_personalizadas" OWNER TO "postgres";


COMMENT ON COLUMN "public"."itens_secoes_personalizadas"."destaques" IS 'Array JSON com at├® 3 subt├¡tulos, cada um com titulo e texto. Formato: [{"titulo": "...", "texto": "..."}, ...]';



CREATE SEQUENCE IF NOT EXISTS "public"."itens_secoes_personalizadas_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."itens_secoes_personalizadas_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."itens_secoes_personalizadas_id_seq" OWNED BY "public"."itens_secoes_personalizadas"."id";



CREATE TABLE IF NOT EXISTS "public"."media" (
    "id" integer NOT NULL,
    "tipo" character varying(20),
    "nome" character varying(200),
    "url" character varying(500),
    "descricao" "text",
    "tamanho" character varying(50),
    "mime_type" character varying(100),
    "tabela_referencia" character varying(50),
    "id_referencia" integer,
    "ordem" integer DEFAULT 0,
    "criado_por" integer,
    "data_criacao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "media_tipo_check" CHECK ((("tipo")::"text" = ANY ((ARRAY['imagem'::character varying, 'video'::character varying, 'pdf'::character varying, 'link'::character varying])::"text"[])))
);


ALTER TABLE "public"."media" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."media_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."media_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."media_id_seq" OWNED BY "public"."media"."id";



CREATE TABLE IF NOT EXISTS "public"."noticias_eventos" (
    "id" integer NOT NULL,
    "titulo" character varying(300) NOT NULL,
    "resumo" "text",
    "conteudo" "text",
    "tipo" character varying(100),
    "autor" character varying(100),
    "imagem_destaque" character varying(500),
    "publicado" boolean DEFAULT true,
    "data_publicacao" timestamp without time zone,
    "criado_por" integer,
    "data_criacao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "data_atualizacao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "destaques" "text",
    "link_original" character varying(500),
    "fonte_nome" character varying(200),
    "data_criacao_original" "date"
);


ALTER TABLE "public"."noticias_eventos" OWNER TO "postgres";


COMMENT ON COLUMN "public"."noticias_eventos"."destaques" IS 'Array JSON com at├® 3 subt├¡tulos, cada um com titulo e texto. Formato: [{"titulo": "...", "texto": "..."}, ...]';



CREATE SEQUENCE IF NOT EXISTS "public"."noticias_eventos_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."noticias_eventos_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."noticias_eventos_id_seq" OWNED BY "public"."noticias_eventos"."id";



CREATE TABLE IF NOT EXISTS "public"."ordem_secoes_site" (
    "id" integer NOT NULL,
    "tipo" character varying(50) NOT NULL,
    "identificador" character varying(100) NOT NULL,
    "secao_id" integer,
    "titulo" character varying(200) NOT NULL,
    "icone" character varying(50),
    "ordem" integer NOT NULL,
    "visivel" boolean DEFAULT true,
    "data_atualizacao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE "public"."ordem_secoes_site" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."ordem_secoes_site_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."ordem_secoes_site_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."ordem_secoes_site_id_seq" OWNED BY "public"."ordem_secoes_site"."id";



CREATE TABLE IF NOT EXISTS "public"."pessoas" (
    "id" integer NOT NULL,
    "nome_completo" "text" NOT NULL,
    "data_nascimento" "date",
    "cc_bi_numero" character varying(50),
    "nif" character varying(50),
    "niss" character varying(50),
    "numero_utente" character varying(50),
    "morada_completa" "text" NOT NULL,
    "codigo_postal" character varying(20) NOT NULL,
    "localidade" "text" NOT NULL,
    "concelho" "text",
    "distrito" "text",
    "criado_em" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."pessoas" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."pessoas_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."pessoas_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."pessoas_id_seq" OWNED BY "public"."pessoas"."id";



CREATE TABLE IF NOT EXISTS "public"."projetos" (
    "id" integer NOT NULL,
    "titulo" character varying(200) NOT NULL,
    "descricao" "text",
    "data_inicio" "date",
    "data_fim" "date",
    "imagem_destaque" character varying(500),
    "url_externa" character varying(500),
    "ativo" boolean DEFAULT true,
    "ordem" integer DEFAULT 0,
    "criado_por" integer,
    "data_criacao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "data_atualizacao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE "public"."projetos" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."projetos_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."projetos_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."projetos_id_seq" OWNED BY "public"."projetos"."id";



CREATE TABLE IF NOT EXISTS "public"."respostas_sociais" (
    "id" integer NOT NULL,
    "titulo" character varying(200) NOT NULL,
    "subtitulo" character varying(300),
    "descricao" "text",
    "objetivos" "text",
    "servicos_prestados" "text",
    "capacidade" character varying(100),
    "horario" character varying(200),
    "imagem_destaque" character varying(500),
    "ativo" boolean DEFAULT true,
    "ordem" integer DEFAULT 0,
    "criado_por" integer,
    "data_criacao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "data_atualizacao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "conteudo" "text",
    "destaques" "text"
);


ALTER TABLE "public"."respostas_sociais" OWNER TO "postgres";


COMMENT ON COLUMN "public"."respostas_sociais"."descricao" IS 'Descri├º├úo breve/resumo da resposta social';



COMMENT ON COLUMN "public"."respostas_sociais"."conteudo" IS 'Conte├║do completo em HTML (rich text) da resposta social';



COMMENT ON COLUMN "public"."respostas_sociais"."destaques" IS 'Blocos personalizados (JSON) com titulo/texto para destaque no topo do modal';



CREATE SEQUENCE IF NOT EXISTS "public"."respostas_sociais_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."respostas_sociais_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."respostas_sociais_id_seq" OWNED BY "public"."respostas_sociais"."id";



CREATE TABLE IF NOT EXISTS "public"."secoes_personalizadas" (
    "id" integer NOT NULL,
    "nome" character varying(100) NOT NULL,
    "titulo" character varying(200) NOT NULL,
    "slug" character varying(100) NOT NULL,
    "descricao" "text",
    "icone" character varying(50),
    "ordem" integer DEFAULT 0,
    "ativo" boolean DEFAULT true,
    "tipo_layout" character varying(50) DEFAULT 'cards'::character varying,
    "tem_formulario" boolean DEFAULT false,
    "config_formulario" "jsonb",
    "criado_por" integer,
    "data_criacao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "data_atualizacao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "is_fixed" boolean DEFAULT false,
    "config_adicional" "jsonb"
);


ALTER TABLE "public"."secoes_personalizadas" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."secoes_personalizadas_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."secoes_personalizadas_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."secoes_personalizadas_id_seq" OWNED BY "public"."secoes_personalizadas"."id";



CREATE TABLE IF NOT EXISTS "public"."submissoes_formularios_secoes" (
    "id" integer NOT NULL,
    "secao_id" integer NOT NULL,
    "dados" "jsonb" NOT NULL,
    "respondido" boolean DEFAULT false,
    "resposta" "text",
    "respondido_por" integer,
    "data_resposta" timestamp without time zone,
    "data_submissao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE "public"."submissoes_formularios_secoes" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."submissoes_formularios_secoes_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."submissoes_formularios_secoes_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."submissoes_formularios_secoes_id_seq" OWNED BY "public"."submissoes_formularios_secoes"."id";



CREATE TABLE IF NOT EXISTS "public"."transparencia" (
    "id" integer NOT NULL,
    "titulo" character varying(200) NOT NULL,
    "descricao" "text",
    "ano" integer,
    "tipo" character varying(50),
    "ficheiro_url" character varying(500),
    "tamanho_ficheiro" character varying(50),
    "criado_por" integer,
    "data_criacao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "data_atualizacao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "ordem" integer DEFAULT 0,
    CONSTRAINT "transparencia_tipo_check" CHECK ((("tipo")::"text" = ANY ((ARRAY['Relatorio'::character varying, 'Contas'::character varying, 'Relatorio_Atividades'::character varying, 'Outro'::character varying])::"text"[])))
);


ALTER TABLE "public"."transparencia" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."transparencia_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."transparencia_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."transparencia_id_seq" OWNED BY "public"."transparencia"."id";



CREATE TABLE IF NOT EXISTS "public"."utilizadores" (
    "id" integer NOT NULL,
    "nome" character varying(100) NOT NULL,
    "email" character varying(100) NOT NULL,
    "password_hash" character varying(255) NOT NULL,
    "tipo" character varying(20) DEFAULT 'Gestor'::character varying,
    "ativo" boolean DEFAULT true,
    "data_criacao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "data_atualizacao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "criado_por" integer,
    CONSTRAINT "utilizadores_tipo_check" CHECK ((("tipo")::"text" = ANY ((ARRAY['Admin'::character varying, 'Gestor'::character varying])::"text"[])))
);


ALTER TABLE "public"."utilizadores" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."utilizadores_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."utilizadores_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."utilizadores_id_seq" OWNED BY "public"."utilizadores"."id";



ALTER TABLE ONLY "public"."contactos_emergencia" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."contactos_emergencia_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."contactos_institucionais" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."contactos_institucionais_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."conteudo_institucional" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."conteudo_institucional_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."form_contacto" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."form_contacto_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."inscricoes" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."inscricoes_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."itens_secoes_personalizadas" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."itens_secoes_personalizadas_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."media" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."media_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."noticias_eventos" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."noticias_eventos_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."ordem_secoes_site" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."ordem_secoes_site_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."pessoas" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."pessoas_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."projetos" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."projetos_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."respostas_sociais" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."respostas_sociais_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."secoes_personalizadas" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."secoes_personalizadas_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."submissoes_formularios_secoes" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."submissoes_formularios_secoes_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."transparencia" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."transparencia_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."utilizadores" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."utilizadores_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."contactos_emergencia"
    ADD CONSTRAINT "contactos_emergencia_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."contactos_institucionais"
    ADD CONSTRAINT "contactos_institucionais_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."conteudo_institucional"
    ADD CONSTRAINT "conteudo_institucional_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."cpsl_intro"
    ADD CONSTRAINT "cpsl_intro_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."detalhes_creche"
    ADD CONSTRAINT "detalhes_creche_pkey" PRIMARY KEY ("inscricao_id");



ALTER TABLE ONLY "public"."detalhes_sad"
    ADD CONSTRAINT "detalhes_sad_pkey" PRIMARY KEY ("inscricao_id");



ALTER TABLE ONLY "public"."form_contacto"
    ADD CONSTRAINT "form_contacto_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."inscricoes"
    ADD CONSTRAINT "inscricoes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."itens_secoes_personalizadas"
    ADD CONSTRAINT "itens_secoes_personalizadas_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."media"
    ADD CONSTRAINT "media_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."noticias_eventos"
    ADD CONSTRAINT "noticias_eventos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."ordem_secoes_site"
    ADD CONSTRAINT "ordem_secoes_site_identificador_key" UNIQUE ("identificador");



ALTER TABLE ONLY "public"."ordem_secoes_site"
    ADD CONSTRAINT "ordem_secoes_site_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."pessoas"
    ADD CONSTRAINT "pessoas_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."projetos"
    ADD CONSTRAINT "projetos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."respostas_sociais"
    ADD CONSTRAINT "respostas_sociais_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."secoes_personalizadas"
    ADD CONSTRAINT "secoes_personalizadas_nome_key" UNIQUE ("nome");



ALTER TABLE ONLY "public"."secoes_personalizadas"
    ADD CONSTRAINT "secoes_personalizadas_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."secoes_personalizadas"
    ADD CONSTRAINT "secoes_personalizadas_slug_key" UNIQUE ("slug");



ALTER TABLE ONLY "public"."submissoes_formularios_secoes"
    ADD CONSTRAINT "submissoes_formularios_secoes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."transparencia"
    ADD CONSTRAINT "transparencia_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."utilizadores"
    ADD CONSTRAINT "utilizadores_email_key" UNIQUE ("email");



ALTER TABLE ONLY "public"."utilizadores"
    ADD CONSTRAINT "utilizadores_pkey" PRIMARY KEY ("id");



CREATE INDEX "idx_form_contacto_respondido" ON "public"."form_contacto" USING "btree" ("respondido");



CREATE INDEX "idx_inscricoes_creche_item" ON "public"."inscricoes" USING "btree" ("creche_item_id") WHERE ("servico" = 'CRECHE'::"public"."tipo_servico");



CREATE INDEX "idx_inscricoes_lido" ON "public"."inscricoes" USING "btree" ("lido", "servico");



CREATE INDEX "idx_inscricoes_pessoa" ON "public"."inscricoes" USING "btree" ("pessoa_id");



CREATE INDEX "idx_inscricoes_servico" ON "public"."inscricoes" USING "btree" ("servico");



CREATE INDEX "idx_itens_secao" ON "public"."itens_secoes_personalizadas" USING "btree" ("secao_id", "ativo", "ordem");



CREATE INDEX "idx_media_referencia" ON "public"."media" USING "btree" ("tabela_referencia", "id_referencia");



CREATE INDEX "idx_noticias_data" ON "public"."noticias_eventos" USING "btree" ("data_publicacao");



CREATE INDEX "idx_noticias_publicado" ON "public"."noticias_eventos" USING "btree" ("publicado");



CREATE INDEX "idx_ordem_secoes" ON "public"."ordem_secoes_site" USING "btree" ("ordem", "visivel");



CREATE INDEX "idx_pessoas_cc_bi_numero" ON "public"."pessoas" USING "btree" ("cc_bi_numero");



CREATE INDEX "idx_pessoas_nif" ON "public"."pessoas" USING "btree" ("nif");



CREATE INDEX "idx_pessoas_niss" ON "public"."pessoas" USING "btree" ("niss");



CREATE INDEX "idx_pessoas_numero_utente" ON "public"."pessoas" USING "btree" ("numero_utente");



CREATE INDEX "idx_projetos_ativo" ON "public"."projetos" USING "btree" ("ativo");



CREATE INDEX "idx_respostas_sociais_ativo" ON "public"."respostas_sociais" USING "btree" ("ativo");



CREATE INDEX "idx_secoes_ativas" ON "public"."secoes_personalizadas" USING "btree" ("ativo", "ordem");



CREATE INDEX "idx_submissoes_secao" ON "public"."submissoes_formularios_secoes" USING "btree" ("secao_id", "respondido");



CREATE INDEX "idx_transparencia_ano" ON "public"."transparencia" USING "btree" ("ano");



CREATE INDEX "idx_transparencia_ordem" ON "public"."transparencia" USING "btree" ("ordem");



ALTER TABLE ONLY "public"."contactos_emergencia"
    ADD CONSTRAINT "contactos_emergencia_pessoa_id_fkey" FOREIGN KEY ("pessoa_id") REFERENCES "public"."pessoas"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."detalhes_creche"
    ADD CONSTRAINT "detalhes_creche_inscricao_id_fkey" FOREIGN KEY ("inscricao_id") REFERENCES "public"."inscricoes"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."detalhes_sad"
    ADD CONSTRAINT "detalhes_sad_inscricao_id_fkey" FOREIGN KEY ("inscricao_id") REFERENCES "public"."inscricoes"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."inscricoes"
    ADD CONSTRAINT "inscricoes_pessoa_id_fkey" FOREIGN KEY ("pessoa_id") REFERENCES "public"."pessoas"("id");



ALTER TABLE ONLY "public"."itens_secoes_personalizadas"
    ADD CONSTRAINT "itens_secoes_personalizadas_secao_id_fkey" FOREIGN KEY ("secao_id") REFERENCES "public"."secoes_personalizadas"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."submissoes_formularios_secoes"
    ADD CONSTRAINT "submissoes_formularios_secoes_secao_id_fkey" FOREIGN KEY ("secao_id") REFERENCES "public"."secoes_personalizadas"("id") ON DELETE CASCADE;



CREATE POLICY "Permitir delete de contactos" ON "public"."form_contacto" FOR DELETE USING (true);



CREATE POLICY "Permitir delete de submiss├Áes" ON "public"."submissoes_formularios_secoes" FOR DELETE USING (true);



CREATE POLICY "Permitir inser├º├úo p├║blica de contactos" ON "public"."form_contacto" FOR INSERT WITH CHECK (true);



CREATE POLICY "Permitir inser├º├úo p├║blica de submiss├Áes" ON "public"."submissoes_formularios_secoes" FOR INSERT WITH CHECK (true);



CREATE POLICY "Permitir leitura de contactos para autenticados" ON "public"."form_contacto" FOR SELECT USING (true);



CREATE POLICY "Permitir leitura de submiss├Áes para autenticados" ON "public"."submissoes_formularios_secoes" FOR SELECT USING (true);



CREATE POLICY "Permitir leitura de utilizadores para autenticados" ON "public"."utilizadores" FOR SELECT USING (true);



CREATE POLICY "Permitir leitura p├║blica de contactos ativos" ON "public"."contactos_institucionais" FOR SELECT USING (("ativo" = true));



CREATE POLICY "Permitir leitura p├║blica de conte├║do institucional ativo" ON "public"."conteudo_institucional" FOR SELECT USING (("ativo" = true));



CREATE POLICY "Permitir leitura p├║blica de itens de se├º├Áes ativas" ON "public"."itens_secoes_personalizadas" FOR SELECT USING (("ativo" = true));



CREATE POLICY "Permitir leitura p├║blica de media" ON "public"."media" FOR SELECT USING (true);



CREATE POLICY "Permitir leitura p├║blica de not├¡cias publicadas" ON "public"."noticias_eventos" FOR SELECT USING (("publicado" = true));



CREATE POLICY "Permitir leitura p├║blica de projetos ativos" ON "public"."projetos" FOR SELECT USING (("ativo" = true));



CREATE POLICY "Permitir leitura p├║blica de respostas sociais ativas" ON "public"."respostas_sociais" FOR SELECT USING (("ativo" = true));



CREATE POLICY "Permitir leitura p├║blica de se├º├Áes ativas" ON "public"."secoes_personalizadas" FOR SELECT USING (("ativo" = true));



CREATE POLICY "Permitir leitura p├║blica de transpar├¬ncia" ON "public"."transparencia" FOR SELECT USING (true);



CREATE POLICY "Permitir todas opera├º├Áes em contactos" ON "public"."contactos_institucionais" USING (true) WITH CHECK (true);



CREATE POLICY "Permitir todas opera├º├Áes em conte├║do institucional" ON "public"."conteudo_institucional" USING (true) WITH CHECK (true);



CREATE POLICY "Permitir todas opera├º├Áes em itens de se├º├Áes" ON "public"."itens_secoes_personalizadas" USING (true) WITH CHECK (true);



CREATE POLICY "Permitir todas opera├º├Áes em media" ON "public"."media" USING (true) WITH CHECK (true);



CREATE POLICY "Permitir todas opera├º├Áes em not├¡cias" ON "public"."noticias_eventos" USING (true) WITH CHECK (true);



CREATE POLICY "Permitir todas opera├º├Áes em projetos" ON "public"."projetos" USING (true) WITH CHECK (true);



CREATE POLICY "Permitir todas opera├º├Áes em respostas sociais" ON "public"."respostas_sociais" USING (true) WITH CHECK (true);



CREATE POLICY "Permitir todas opera├º├Áes em se├º├Áes personalizadas" ON "public"."secoes_personalizadas" USING (true) WITH CHECK (true);



CREATE POLICY "Permitir todas opera├º├Áes em transpar├¬ncia" ON "public"."transparencia" USING (true) WITH CHECK (true);



CREATE POLICY "Permitir todas opera├º├Áes em utilizadores" ON "public"."utilizadores" USING (true) WITH CHECK (true);



CREATE POLICY "Permitir update de contactos" ON "public"."form_contacto" FOR UPDATE USING (true) WITH CHECK (true);



CREATE POLICY "Permitir update de submiss├Áes" ON "public"."submissoes_formularios_secoes" FOR UPDATE USING (true) WITH CHECK (true);



ALTER TABLE "public"."contactos_institucionais" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."conteudo_institucional" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."form_contacto" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."itens_secoes_personalizadas" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."media" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."noticias_eventos" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."projetos" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."respostas_sociais" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."secoes_personalizadas" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."submissoes_formularios_secoes" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."transparencia" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."utilizadores" ENABLE ROW LEVEL SECURITY;




ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";








































































































































































GRANT ALL ON TABLE "public"."contactos_emergencia" TO "anon";
GRANT ALL ON TABLE "public"."contactos_emergencia" TO "authenticated";
GRANT ALL ON TABLE "public"."contactos_emergencia" TO "service_role";



GRANT ALL ON SEQUENCE "public"."contactos_emergencia_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."contactos_emergencia_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."contactos_emergencia_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."contactos_institucionais" TO "anon";
GRANT ALL ON TABLE "public"."contactos_institucionais" TO "authenticated";
GRANT ALL ON TABLE "public"."contactos_institucionais" TO "service_role";



GRANT ALL ON SEQUENCE "public"."contactos_institucionais_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."contactos_institucionais_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."contactos_institucionais_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."conteudo_institucional" TO "anon";
GRANT ALL ON TABLE "public"."conteudo_institucional" TO "authenticated";
GRANT ALL ON TABLE "public"."conteudo_institucional" TO "service_role";



GRANT ALL ON SEQUENCE "public"."conteudo_institucional_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."conteudo_institucional_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."conteudo_institucional_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."cpsl_intro" TO "anon";
GRANT ALL ON TABLE "public"."cpsl_intro" TO "authenticated";
GRANT ALL ON TABLE "public"."cpsl_intro" TO "service_role";



GRANT ALL ON TABLE "public"."detalhes_creche" TO "anon";
GRANT ALL ON TABLE "public"."detalhes_creche" TO "authenticated";
GRANT ALL ON TABLE "public"."detalhes_creche" TO "service_role";



GRANT ALL ON TABLE "public"."detalhes_sad" TO "anon";
GRANT ALL ON TABLE "public"."detalhes_sad" TO "authenticated";
GRANT ALL ON TABLE "public"."detalhes_sad" TO "service_role";



GRANT ALL ON TABLE "public"."form_contacto" TO "anon";
GRANT ALL ON TABLE "public"."form_contacto" TO "authenticated";
GRANT ALL ON TABLE "public"."form_contacto" TO "service_role";



GRANT ALL ON SEQUENCE "public"."form_contacto_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."form_contacto_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."form_contacto_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."inscricoes" TO "anon";
GRANT ALL ON TABLE "public"."inscricoes" TO "authenticated";
GRANT ALL ON TABLE "public"."inscricoes" TO "service_role";



GRANT ALL ON SEQUENCE "public"."inscricoes_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."inscricoes_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."inscricoes_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."itens_secoes_personalizadas" TO "anon";
GRANT ALL ON TABLE "public"."itens_secoes_personalizadas" TO "authenticated";
GRANT ALL ON TABLE "public"."itens_secoes_personalizadas" TO "service_role";



GRANT ALL ON SEQUENCE "public"."itens_secoes_personalizadas_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."itens_secoes_personalizadas_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."itens_secoes_personalizadas_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."media" TO "anon";
GRANT ALL ON TABLE "public"."media" TO "authenticated";
GRANT ALL ON TABLE "public"."media" TO "service_role";



GRANT ALL ON SEQUENCE "public"."media_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."media_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."media_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."noticias_eventos" TO "anon";
GRANT ALL ON TABLE "public"."noticias_eventos" TO "authenticated";
GRANT ALL ON TABLE "public"."noticias_eventos" TO "service_role";



GRANT ALL ON SEQUENCE "public"."noticias_eventos_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."noticias_eventos_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."noticias_eventos_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."ordem_secoes_site" TO "anon";
GRANT ALL ON TABLE "public"."ordem_secoes_site" TO "authenticated";
GRANT ALL ON TABLE "public"."ordem_secoes_site" TO "service_role";



GRANT ALL ON SEQUENCE "public"."ordem_secoes_site_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."ordem_secoes_site_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."ordem_secoes_site_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."pessoas" TO "anon";
GRANT ALL ON TABLE "public"."pessoas" TO "authenticated";
GRANT ALL ON TABLE "public"."pessoas" TO "service_role";



GRANT ALL ON SEQUENCE "public"."pessoas_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."pessoas_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."pessoas_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."projetos" TO "anon";
GRANT ALL ON TABLE "public"."projetos" TO "authenticated";
GRANT ALL ON TABLE "public"."projetos" TO "service_role";



GRANT ALL ON SEQUENCE "public"."projetos_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."projetos_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."projetos_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."respostas_sociais" TO "anon";
GRANT ALL ON TABLE "public"."respostas_sociais" TO "authenticated";
GRANT ALL ON TABLE "public"."respostas_sociais" TO "service_role";



GRANT ALL ON SEQUENCE "public"."respostas_sociais_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."respostas_sociais_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."respostas_sociais_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."secoes_personalizadas" TO "anon";
GRANT ALL ON TABLE "public"."secoes_personalizadas" TO "authenticated";
GRANT ALL ON TABLE "public"."secoes_personalizadas" TO "service_role";



GRANT ALL ON SEQUENCE "public"."secoes_personalizadas_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."secoes_personalizadas_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."secoes_personalizadas_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."submissoes_formularios_secoes" TO "anon";
GRANT ALL ON TABLE "public"."submissoes_formularios_secoes" TO "authenticated";
GRANT ALL ON TABLE "public"."submissoes_formularios_secoes" TO "service_role";



GRANT ALL ON SEQUENCE "public"."submissoes_formularios_secoes_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."submissoes_formularios_secoes_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."submissoes_formularios_secoes_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."transparencia" TO "anon";
GRANT ALL ON TABLE "public"."transparencia" TO "authenticated";
GRANT ALL ON TABLE "public"."transparencia" TO "service_role";



GRANT ALL ON SEQUENCE "public"."transparencia_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."transparencia_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."transparencia_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."utilizadores" TO "anon";
GRANT ALL ON TABLE "public"."utilizadores" TO "authenticated";
GRANT ALL ON TABLE "public"."utilizadores" TO "service_role";



GRANT ALL ON SEQUENCE "public"."utilizadores_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."utilizadores_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."utilizadores_id_seq" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";































